.app-header {
  text-align: center;
  margin: 0 0 24px;
}

.app-header h2 {
  color: rgba(0, 0, 0, .9);
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  margin: 0 0 8px 0;
}

.app-header p {
  color: #666;
  font-size: 1rem;
  margin: 0;
}