main{  
    width: 60%;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .12);
    margin: 90px auto 0;
    padding: 24px;

    @media (max-width: 768px) {
        width: 95%;
        margin: 50px auto 0;    }
}