@import url("https://use.typekit.net/rui3uhi.css");

:root {
  font-family: "Proxima Nova",-apple-system,Roboto,Arial,sans-serif,sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ebebeb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  border: 0; 
  box-sizing: border-box;
}
body{
  background: #ebebeb;
  font-family: proxima-nova, sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  color: #3483fa;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}